.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0.8rem;

  align-items: baseline;
  gap: 1rem;

  position: fixed;
  top: 0;

  span {
    font-weight: 900;
    margin-bottom: 0.2rem;
    // border-bottom: 1px solid black;
  }

  .team {
    display: none;
    width: 3rem;
    margin-bottom: 0.2rem;
  }

  p {
    border-left: 1px solid black;
    padding-left: 1rem;
    font-weight: 300;
  }
}
